brevitas==0.10.2
h5py==3.11.0
numpy==1.24.4
pandas==2.0.3
POT==0.9.3
pyemd==1.0.0
PyHessian==0.1
pytorch_lightning==2.3.0
PyYAML==6.0.1
scipy==1.15.1
setuptools==69.5.1
torch==2.3.0
torchmetrics==1.4.0.post0
torchvision==0.18.0
tqdm==4.66.4
