brevitas==0.10.2
h5py==3.11.0
pandas==2.0.3
POT==0.9.5
pyemd==1.0.0
PyHessian==0.1
pytorch-lightning==2.3.0
PyYAML==6.0.1
scipy
setuptools==70.0.0
torch==2.3.0
torchmetrics==1.4.0.post0
torchvision==0.18.0
tqdm==4.66.4
matplotlib
numpy==1.24.4
tensorboard
pylandscape
